<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/templates/style.css">

    <title>Fidelidade</title>
</head>
<body>

    <form action="/cadastro">
        <button type="submit">Cadastro</button>
    </form>

    <form action="/lista">
        <button type="submit">Cliente</button>
     </form>
    
     <form action="/ponto">
        <button type="submit">Pontos</button>
     </form>

     
   
     <form action="/query">
        <button type="submit">Consulta</button>
     </form>

    
</body>
</html>