<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petrobras Fidelidade</title>
</head>

<body>

    <form action="/">
        <button type="submit">Inicio</button>
     </form>
     
    <form action="/addpoint" method="post">

        <input type="text" id="codigo" name="codigo" placeholder="Codigo: 0000"><br><br>
        <input type="text" id="valor" name="valor" placeholder="R$: 000,00"><br><br>

        <button type="submit" id="buttoSave">Salvar</button>
    </form>
</body>
</html>